body{
    width: 360px;
}

.glyphicon b {
    margin-left: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
}

.overlay {
    position: fixed;
    z-index: 10;
    width: 91%;
    height: 50%;
    background-color: white;
    bottom: 56px;
    left: 16px;
    opacity: .8;
}

.disable {
    color: #ccc;
}

.cursor {
    cursor: pointer;
}

.btn-sm2 {
    padding: 5px 12px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: -1px;
    border-radius: 3px;
}

.btn-group {
    width: 100%;
}

button.btn {
    width: 33.5%;
    padding: 6px 8px;
    font-size: 11px;
}